# created by virtualenv automatically
/projekt/Lib
/projekt/Scripts/
*.pyc
/vagrant/.vagrant
.vs
projekt_sublime.sublime-project
projekt_sublime.sublime-workspace
vagrant/mintty.2021-05-13_16-14-03.png
projekt/src/baza/src/locust/
projekt/src/baza/src/pip-delete-this-directory.txt
projekt/testy/locust.py
