{% extends 'main_base_page.html' %}
{% load static %}
{% block content %}	


<form action="." method="post">
   
Głosowanie dotyczy : 	{{ustawa.tytul}}
<br>


{% csrf_token %}

<p>Jaka jest Twoje opinia:</p>
<input type="radio" name="glos" value="Za">Za<br>
<input type="radio" name="glos" value="Przeciw">Przeciw<br>
<input type="radio" name="glos" value="Wstrzymuje">Wstrzymuje sie<br>

{{form.ustawy}}<br>

{{form}}

	<input  type="submit" formmethod="post"  name="Submit">

</form>



{% endblock %}