{% extends 'main_base_page.html' %}
{% block content %}
		<h1>Regulamin</h1>
		<br><br>
		<li>Korzystając z tej strony jako administrator wchodzisz w posiadanie danych osobowych, Korzystając z tej strony zobowiązujesz się do tego, aby nie udostępniać ich osobom trzecim oraz wykorzystywać ich w celach prywatnych.</li>
		<li>Nie wyrażam zgody na wykorzystywanie mojego kodu w celach komercyjnych i zarobkowych.</li>
		<li>Będąc użytkownikiem jesteś zobowiązany do podawania prawdziwych danych osobowych.</li>
		<li>Jeśli twój adres nie zostanie zautoryzowany w odpowiednim czasie, administarator zastrzega sobie prawo do usunięcia Twojego konta.</li>
		<li>W razie podania nieprawidłowych danych, jedyną możliwością poprawy ich jest kontakt mailowy na adres TwojeReferendum.pl@gmail.com.</li>
		<br><br><br>
{% endblock %}
	