{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Logowanie dla panelu administratora</title>
	<link rel ="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>

<div class="container">
	<form id="login" method="post"> {% csrf_token %}
		<div class="header">
			<h3>Zaloguj się</h3>
			<p>Podaj swoje dane logowanie</p>
		</div>
		{% csrf_token %}
		<div class="sep">
		<div class="inputs">
			<input name="user" placeholder="Nazwa Użytkownika" autofocus />
			<input name="haslo" type="password" placeholder="Hasło" />
			<br>
			<input class="button button" id="submit" type="submit" value="Login">
		</div>
		<div class="butonss">
		
		<p style="color:black;">Abu utworzyć nowe konto kliknij przycisk</p> 
		<a href="zakladanie_konta"><button type="button" class="button2 button2" >Utwórz konto</button></a>
		{% for message in messages %}
			
			<p style="color:red;"> {{message}}</p>	
		{% endfor %}	
			</div>
		
		</div>	
	</form>
</div>

</html>
