{% extends 'main_base_page.html' %}
{% block content %}	
		<br>
		<h4>Aby sprawdzić wyniki głosowania dla poszczególnej ustawy, proszę przejść do zakładki <a href="{% url 'roczniki' %}"><b>Roczniki</b></a>, następnie wybrać rok w którym usatwa była opublikowana a następnie przy odpowiednim wierszu nacisnąć przycisk "Wyniki". Poniższy diagram przedstawia sposób wyświetlania danych.</h4>
		<br>
		<a href="https://isap.sejm.gov.pl/isap.nsf/download.xsp/WDU20180000300/O/D20180300.pdf">Dz.U. 2018 poz. 300 - Obwieszczenie Marszałka Sejmu Rzeczypospolitej Polskiej z dnia 11 stycznia 2018 r. w sprawie ogłoszenia jednolitego tekstu ustawy o kosztach sądowych w sprawach cywilnych.</a> 
		<br>
		<br>
		Wykres będzie wyglądał w następujący sposób: 
		<center><div id="piechart"></div>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<script type="text/javascript">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);
		
			function drawChart() {
  			var data = google.visualization.arrayToDataTable([
  ['Osoby', 'Głosy'],
  ['Za', 452],
  ['Przeciw', 534],
  ['Wstrzymało się',50],
]);


  var options = {'title':'Wyniki głosowania', 'width':650, 'height':500};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
	</center>
	<h6>
Łączna liczba głosów to: <br>
Za :  452<br>
Przeciw:  534<br>
Wstrzymało się : 50<br></h6>


{% endblock %}
	