{% extends 'main_base_page.html' %}
{% block content %}

{% load static %}

		<br>
		<center><h2>Witaj na stronie TwojeReferendum.pl</h2></center>
		Znajdziesz tu informacje dotyczące uchwalonych przez rząd polski ustaw.<br>
		Strona ta ma na celu rozpowszechnienie informacji oraz zwiększenie świadomości obywatela w zakresie prawa wystosowanego przez władzę.<br>
		Korzystając zniej masz możliwość wyrażenia swojej opini na temat każdej opublikowanej ustawy, jeśli masz ukończone 18 lat. 
		<br>
		<img class="mySlides2" src="{% static 'photo/5.jpg' %}" style="width:100%">

	{% endblock %}
	