{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel ="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>
<center>
	{% if not form1.is_active %}
		<form  id="login" method="post"> {% csrf_token %}
		<center><h1>Twój user jest nie aktywny!</h1></center><br>
		<center><h2>Na podany przez Ciebie adres email wysłany został kod weryfikacyjny</h2></center> <br>
		<center><h2>Wpisz go w tabelę poniżej aby aktywować użytkownika</h2></center>
		<center><input name="klucz" placeholder="####" autofocus /></center><br>

		<center><input class="button button" id="submit" type="submit" value="Autoryzuj"></center>
		<br><br>
		<a href="{% url 'wyloguj' %}"  style="color:blue;"> Wyloguj</a>
		</form>
		</center>
 	{% else %}
 		<center><h1>User został zwereyfikowany</h1></center><br>
 		</center>
		<br><br>
		<a href="{% url 'home_page' %}"  style="color:blue;"> Strona główna</a>
		</form>
		</center>
 	{% endif %}
</html>